.base {
	background: var(--c-prim2);
	border-radius: 100px;
	max-width: 125px;
	font-size: 0.8rem;
	padding: 0.35em 2em;
	color: #fff;
	font-variation-settings: "wght" 550;

	&.ghost {
		background: none;
	}

	&.link {
		text-decoration: none;
	}
}
