@font-face {
	font-family: "jost";
	src: url("../../assets/fonts/Jost.ttf");
}

@font-face {
	font-family: "muli";
	src: url("../../assets/fonts/Muli.ttf");
}

$ft-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
	Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$ft-sans-serif: jost, $ft-stack;
$ft-serif: muli, $ft-stack;
