@font-face {
	font-family: "jost";
	font-display: swap;
	src: url("../assets/fonts/Jost.ttf");
}

@font-face {
	font-family: "overpass";
	font-display: swap;
	src: url("../assets/fonts/OverpassMono-Regular.ttf");
}

@font-face {
	font-family: "muli";
	src: url("../assets/fonts/Muli.ttf");
}
