.base {
	height: 100vh;
	max-height: 900px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 8em 0;
}

.title {
	font-size: 4.4rem;
	color: var(--c-prim);
	margin-bottom: 0;
	line-height: 2;
}

.contact {
	margin: 3em 0;
	&Item {
		margin-right: 2em;
	}
}
