.theme-dark {
	--c-accent: hsla(33, 88%, 43%, 1);
	--c-bg: #141517;
	--c-text: #c1c1c1;
	--c-shadow: hsla(0, 0%, 13%, 1);
	--c-prim: hsla(253, 98%, 79%, 1);
	--c-prim2: hsla(253, 85%, 55%, 1);
	--c-prim3: hsla(253, 85%, 55%, 0.5);
	--c-prim4: hsla(253, 85%, 55%, 0.2);
	--c-prim5: hsla(253, 85%, 55%, 0.1);
}

.theme-light {
	--c-accent: hsla(253, 85%, 55%, 1);
	--c-bg: #f9f9f9;
	--c-text: #1c1e23;
	--c-prim: #1c1e23;
	--c-shadow: hsla(0, 0%, 94%, 1);
	--c-prim2: hsla(33, 88%, 43%, 0.4);
	--c-prim3: hsla(33, 88%, 43%, 0.3);
	--c-prim4: hsla(33, 88%, 43%, 0.2);
	--c-prim5: hsla(33, 88%, 43%, 0.1);
}
