:root {
	--c-accent: #ce780d;
}

.theme-dark {
	--c-bg: #141517;
	--c-text: #c1c1c1;
	--shadow-1: #212121;
	--shadow-2: #1d1d1d;
	--shadow-3: #080808;
	--c-prim: #ac95fe;
	--c-prim2: #572dee;
	--c-prim3: #492fa4;
	--c-prim4: #3a344d;
	--c-prim5: #2d2a35;
}

.theme-light {
	--c-bg: #f9f9f9;
	--c-text: #1c1e23;
	--shadow-1: #e8e8e8;
	--shadow-2: #d4d4d4;
	--shadow-3: #cacaca;
}
