html {
	box-sizing: border-box;
	font: 112.5%/1.45em, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	color: hsla(0, 0%, 0%, 0.8);
	font-family: $ft-serif;
	font-weight: 400;
	line-height: 2;
	font-size: 1rem;
	font-variation-settings: "wght" 435;
	word-wrap: break-word;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
	font-feature-settings: "kern", "liga", "clig", "calt";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $ft-sans-serif;
}

@media only screen and (max-width: 480px) {
	html {
		font-size: 100%;
	}
}
