// ===== utility classes ======= //
.fixed {
	top: 0;
	left: 0;
	position: fixed;
}

.spacer {
	padding: 1.9em 0;
}

.ft-serif {
	font-family: $ft-serif;
}

.ft-sans {
	font-family: $ft-sans-serif;
}

.icon {
	height: 18px;
	width: 18px;
	margin-right: 12px;
}
