@use "typography";
@use "palette";
@use "spaces";

:root {
	@include typography.fontScale();
	@include typography.fontFamily();
	@include palette.palette();
	@include spaces.bounds();
}

body {
	@include palette.themeDefault();
	font-family: var(--ft-base);
	color: var(--c-text);
	background: var(--c-bg);
}
