.base {
	height: calc(100vh - 95px);
	max-height: 900px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 8em 0;
}

.title {
	font-size: 4.4rem;
	color: var(--c-prim);
	margin-bottom: 0;
	line-height: 1.4;
	padding: 0.5em 0;
}

.contact {
	margin: 1em -0.2em;
	&Item {
		margin-right: 2em;
	}
}
