$contentWidth: 650;
$gutter: 40;
.base {
	margin: auto;
	width: #{$contentWidth}px;
	max-width: 90%;
	padding: 8px #{$gutter}px;
	display: flex;
	align-items: center;
}
.footerEl {
	font-size: 0.875rem;
	color: #c2c2c2;
	text-decoration: none;
	padding: 0;
}
.footerLink {
	line-height: 26px;
	display: block;
	height: 26px;
	margin: 0 20px;
}
.btnMode {
	margin-left: auto;
}
