$contentWidth: 650;
$gutter: 40;
.base {
	max-width: 1250px;
	margin: 0 auto;
	padding: 8px #{$gutter}px;
	display: flex;
	align-items: center;
}
.footerEl {
	font-size: 0.875rem;
	transition: color 0.3s, opacity 0.3s;
	line-height: 26px;
	display: block;
	margin: 0 20px;
	opacity: 0.6;
	&:hover {
		opacity: 0.8;
	}
}

.btnMode {
	margin-left: auto;
}
