$contentWidth: 650;
$gutter: 40;
.base {
	margin: auto;
	width: #{$contentWidth}px;
	max-width: 90%;
	padding: 8px #{$gutter}px;
	display: flex;
	align-items: center;
}
.footerEl {
	font-size: 0.875rem;
	color: var(--c-text);
	transition: color 0.3s, opacity 0.3s;
	text-decoration: none;
	padding: 0;
	&:hover {
		opacity: 0.6;
	}
}
.footerLink {
	line-height: 26px;
	display: block;
	height: 26px;
	margin: 0 20px;
}
.btnMode {
	margin-left: auto;
}
