---
import Social from "~/components/Social.astro";
import Portfolio from "~/components/Portfolio.astro";
---


<header class="wrapper">
	<article>
		<slot />
	</article>
	<Social />
</header>
<main class="wrapper">
	<Portfolio />
</main>

<style></style>