.base {
	position: relative;
	padding-top: 2em;
	padding-bottom: 3em;
}

.title {
	font-size: 3rem;
	font-variation-settings: "wght" 730;
	margin-bottom: 0.3em;
	position: relative;
	z-index: 1;
}
.year {
	font-size: 0.875rem;
	margin: 0 0em 0.5em 0.2em;
	position: relative;
	z-index: 1;
	flex: 0 0 20%;
	font-variant: tabular-nums;
	small {
		margin: 0 3px;
	}
}

.details {
	display: flex;
}

.imageWrapper {
	flex: 1 0 80%;
	box-shadow: -65px -62px 0px 0 var(--c-prim2);
	border-radius: 10px;
	&.backdrop1 {
		box-shadow: -65px -58px 0px 0 var(--c-prim2);
	}
	&.backdrop2 {
		box-shadow: -65px -58px 0px 0 var(--c-prim3);
	}
	&.backdrop3 {
		box-shadow: -65px -58px 0px 0 var(--c-prim4);
	}
	&.backdrop4 {
		box-shadow: -65px -58px 0px 0 var(--c-prim5);
	}
}
