$contentWidth: 725;
$gutter: 40;

.base {
	min-height: 100vh;
	background: var(--c-bg);
	color: var(--c-text);
	transition: color 0.3s, background 0.3s;
}

.accent {
	right: 0;
	height: 7px;
	z-index: 5;
	background: var(--c-accent);
}

.sidebar {
	bottom: 0;
	left: calc(50% - #{$contentWidth / 2}px);
	transform: translateX(-100%);
	padding: 0 #{$gutter}px;
	text-align: right;
	z-index: 2;
}

.page {
	width: #{$contentWidth}px;
	margin: 0 auto;
	max-width: 90%;
	padding: 5em 0 8em;
}

.content {
	padding: 0.5em 2em 2em;
}

.header,
.footer {
	width: 100%;
	right: 0;
	background: var(--c-bg);
	transition: color 0.3s, background 0.3s;
}

.footer {
	z-index: 2;
	bottom: 0;
	top: auto;
	background: var(--c-bg);
	transition: box-shadow 0.3s;
}
